{% extends "eha_app/pages/base.html" %}
{% load static %}

{% block title %} EHA - SHOP {% endblock %}

{% block content %}

<!-- ======= shop-item Section ======= -->
<section class="team section-bg m-t-100">
  <div class="container">

    <div class="row justify-content-md-center" style="min-height: 200px;">
      <div class="col-lg-10 col-md-10 d-flex align-items-stretch">
        <div class="card card-shop-item">
          <div class="card-body text-center">
            <h3 style="color: red;">
              <i class="fa fa-cc-mastercard" aria-hidden="true" style="font-size: 60px; color: #f4433666;"></i><br>
              Payment not processed.</h3>
            <hr>
            <p>Your payment has not been processed. Please try again later.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Section -->

{% endblock %}