{% extends "eha_app/pages/base.html" %}
{% load static %}

{% block title %} EHA - SHOP {% endblock %}

{% block content %}


<!-- ======= shop-item Section ======= -->
<section class="team section-bg m-t-100" id="step1">
  <div class="container">
    <div class="section-title">
      <h2>CART</h2>
    </div>
    {% if cart_list %}
    <div class="row" style="min-height: 400px;">

        <!-- SHOW CART ITEMS -->
        <div class="col-lg-8 col-md-8">
          <table class="col-lg-12 col-md-12 table" id="table_cart">
            <tbody>
              {% for item in cart_list %}
              <tr id="row_{{item.id}}">
                <td style="width: 100px;">
                  <img src="{{item.image.url}}" width="100px">
                </td>
                <td>{{item.title|safe}}</td>
                <td>$ {{item.price}}</td>
                <td class="text-center" style="width: 50px;">
                  <a href="#" onclick="delete_shop_item('{{item.id}}')">
                    <i class="fa fa-times"></i>
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class="col-lg-12 col-md-12 mb-4">
<i>Each air quality report purchased is specific to one US address (in the lower 48 States) that you provide during Checkout (after clicking "Proceed to buy below"). If you want multiple reports at multiple addresses, please purchase a separate report and go through the Checkout process for each address.</i>
          </div>
        </div>


        <div class="col-lg-4 col-md-4 align-items-stretch pull-right">
          <!-- coupon division -->
          <table class="table-coupon">
            <tr>
              <td>
                <input type="text" class="form-control" id="txt-coupon-code" placeholder="Coupon code">
              </td>
              <td style="width: 70px;">
                <button id="btn-coupon-apply" class="btn btn-pri" onclick="apply_coupon()">Apply</button>
              </td>
            </tr>
          </table>
          <div class="error-message" id="not_valid">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            The coupon code you entered is not valid
          </div>
          <div class="error-message" id="expired">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            The coupon code you entered is expired
          </div>
          <div class="success-message" id="applied">
            Coupon applied <b><span id="coupon_code"></span></b>
            <a href="{% url 'cart' %}" class="pull-right">Remove</a>
          </div>
          <!-- end coupon -->
          <hr>
          <!-- toal and checkout panel  -->
          <div class="card">
            <div class="card-body">
              <p>Cart Total:
                <span class="pull-right" id="cart_total">$ {{total}}</span>
              </p>
              <p id="discount_p" style="display: none;">Coupon savings:
                <span class="pull-right" id="discount">- $ 0</span>
              </p>
              <h5>Total
                <span class="total-amount" id="total">$ {{ total }}</span>
              </h5>
            </div>
            {% if customer %}
              <input type="button" class="btn btn-buy" value="Proceed to buy" onclick="step_2()">
            {% else %}
              <a href="{% url 'signin' %}?next={{request.path}}" class="btn btn-buy">Proceed to buy</a>
            {% endif %}
          </div>
          <!-- END -->
           <p style="
    font-style: italic;
    color: #666666;
">You must be logged in to an account to make a purchase.  If you're not logged in, you will be directed to the Sign In/Sign Up page.</p>
        </div>
      </div>

    {% else %}<!-- If there is NO ITEMS in the CART -->

      <div class="row justify-content-md-center" style="min-height: 200px;">
        <div class="col-lg-10 col-md-10 d-flex align-items-stretch">
          <div class="card card-shop-item">
            <div class="card-body text-center">
              <i class="fa fa-shopping-cart cart-ico" aria-hidden="true"></i>
              <br>
              <p class="card-text ">Your cart is empty.</p>
              <br>
              <a href="{% url 'shop' %}" class="btn btn-pri">Keep Shopping</a>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
</div>
</section>
<!-- End Section STEP 1 -->





<!-- SECTION STEP 2 : ADDRESS -->
<section class="team section-bg m-t-100" id="step2" style="display: none;">
  <div class="container">
    <div class="section-title">
      <h2>CART</h2>
    </div>

    {% if cart_list %}
      <!-- SHOW CART ITEMS -->
      <div class="offset-lg-1 col-lg-10 col-md-10">
        <div class="modal-content1">

          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Specify Address</h5>
          </div>

          <div class="modal-body">
            <form action="{% url 'cart_checkout' %}" id="formCheckout" method="POST">
              {% csrf_token %}
              <input id="address" name="address" class="form-control mb-3" type="text" placeholder="Enter a location" 
              {% if address %}
              value="{{address}}"
              {% endif %}>
              <div class="map" id="map"  style="
                                  width: 100%; 
                                  height: 350px; 
                                  border: 1px 
                                  solid #ccc;
                                  border-radius: 4px;"></div>
              <div class="form_area">
                 <input type="hidden" name="location" id="location">
                 <input type="hidden" name="lat" id="lat">
                 <input type="hidden" name="lng" id="lng">
             </div>

              
              <input class="form-control" id="pick_latitude" name="pick_latitude" type="text" style="display: none;">
              <input class="form-control" id="pick_longitude" name="pick_longitude" type="text" style="display: none;">
              <!-- style="
                                  width: 100%; 
                                  height: 300px; 
                                  border: 1px 
                                  solid #ccc;
                                  border-radius: 4px;" -->

              <input type="hidden" name="coupon" id="coupon">
              <div class="error-message" id="address_err">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                Please enter delivery address.
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-success" onclick="step_1()">Back</button>
            <button type="button" class="btn btn-success" onclick="checkout()">Continue</button>
          </div>
      </div>
    </div>
    {% endif %}
  </div>
</section>
<!-- End  Section STEP 2 -->


<!-- To final checkout -->
<script>
function checkout() {
  address = $('#address').val();
  let latitudeVal= $("#lat").val()
  // alert(address)
  if(address == '' || latitudeVal == ''){
    $('#address_err').show();
  }
  else{
    swal({
        title: "Is the red pin in the correct location?  Please confirm.",
        text: "",
        icon: "warning",
        buttons: {
          confirm: {
            text: "CONFIRM LOCATION",
            value: true,
            visible: true,
            className: "",
            closeModal: true
          },
          cancel: {
            text: "BACK",
            value: false,
            visible: true,
            className: "",
            closeModal: true,
          }
        },
        closeOnClickOutside: false,
        dangerMode: true,
      }).then((continue_checkout) => {
        if (continue_checkout) {
          document.getElementById("formCheckout").submit();
        }
      })
    
  }
}
$('#address').keyup(function(){
    $('#address_err').hide();
});
</script>


<script type="text/javascript">
	// To REMOVE shop-item from CART
	function delete_shop_item(id){
    $.ajax({
      method : "POST",
      url : "/api/cart_delete",
      contentType: "application/json",
      data : JSON.stringify({
        shop_item_id : id,
        from_cart : true
      }),
      success : function(response){
        console.log(response)
        if (response['status'] == "1"){
          $('#row_'+id).remove();
          $('#cart_total').text('$ ' + response['total'])
          $('#total').text('$ ' + response['total'])

          // UPDATE the CART COUNT
          $.ajax({
              method : "POST",
              url : "/api/cart_count",
              contentType: "application/json",

              data : JSON.stringify({}),
              success : function(response){
                // console.log(response)
                
                if (response['status'] == "1"){
                    location.reload();
                  
                  // update coupon if applied
                  if($('#txt-coupon-code').val() !=''){
                    apply_coupon()
                  }
                  if(response['cart_count']=='0' || response['cart_count']==0){
                      $('#cart_id').hide();
                      location.reload();
                  }
                  else{
                      $('#cart_id').text(response['cart_count'])
                      $('#cart_id').show();
                  }
                }
              }

          });
        }
      }
    });
  }
</script>




<!-- To APPY COUPON CODE -->
<script type="text/javascript">
function apply_coupon(){
  $('#applied').hide()
  coupon_code = $('#txt-coupon-code').val()
  if(coupon_code == ''){
  }
  else{
    // CALL API TO APPLY COUPON
    $.ajax({
        method : "POST",
        url : "/api/validate_coupon",
        contentType: "application/json",

        data : JSON.stringify({
          coupon_code : coupon_code,
        }),
        success : function(response){
          console.log(response)
          // If coupon applied successfully
          if (response['status'] == "1"){
            response['final_amount']=parseFloat(response['final_amount']).toFixed(2) // Total
            $('#cart_total').text('$ '+response['total'])
            $('#cart_total1').text('$ '+response['total'])
            // Discount
            $('#discount').text('- $ '+response['discount'])
            $('#discount_p').show()
            $('#discount1').text('- $ '+response['discount'])
            $('#discount_p1').show()
            sessionStorage.setItem("appliedCoupon", coupon_code)
            //Removing Coupon text
            $('#txt-coupon-code').val("")
            // Final amount
          
            $('#total').text('$ '+response['final_amount'])
            $('#total1').text('$ '+response['final_amount'])
            // Hidden field for PAYPAL payment
            $('#final_amount').val(response['final_amount'])
            // Show message
            $('#applied').show()
            $('#coupon_code').text(response['coupon_code'])
            // Hidden Input
            $('#coupon').val(response['coupon_code'])
          }
          // if coupon is expired/invalid
          else{
            if (response['msg'] == "expired"){
              $('#expired').show()
            }
            if (response['msg'] == "not valid"){
              $('#not_valid').show()
            }
            $('#cart_total').text('$ '+response['total'])
            $('#discount').text('- $ 0')
            $('#discount_p').hide()
            $('#total').text('$ '+response['total'])
            $('#applied').hide()
            $('#coupon_code').text()
          }
        }
    });
  }
}
$('#txt-coupon-code').keyup(function(){
  $('#expired').hide()
  $('#not_valid').hide()
});
</script>



<!-- Script for Google MAP -->
<script data-cfasync='false' type='text/javascript' src='https://maps.googleapis.com/maps/api/js?libraries=geometry,places&key=AIzaSyApM6znObK8Qs9AecbHxpq9rG9QR42Bnp0'></script>


<!-- SCRIPT FOR SEARCH ADDRESS IN GOOGLE MAP -->
<script>
var flag = false;
function initialize() {
    var latlng = new google.maps.LatLng(40.71341725053022,-74.00116633224488);
   // var latlng = new google.maps.LatLng(28.5355161,77.39102649999995);
    var map = new google.maps.Map(document.getElementById('map'), {
      center: latlng,
      zoom: 13
    });
    var marker = new google.maps.Marker({
      map: map,
      position: latlng,
      draggable: true,
      anchorPoint: new google.maps.Point(0, -29)
   });
    var input = document.getElementById('address');
    // map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
    var geocoder = new google.maps.Geocoder();
    var autocomplete = new google.maps.places.Autocomplete(input);
    autocomplete.bindTo('bounds', map);
    var infowindow = new google.maps.InfoWindow();   
    autocomplete.addListener('place_changed', function() {
        infowindow.close();
        marker.setVisible(false);
        var place = autocomplete.getPlace();

        if (!place.geometry) {
          marker.position = latlng
            // swal({
            //   title: "Google maps can't find the specified address. ",
            //   text: "Do you want to continue?",
            //   icon: "warning",
            //   buttons: true,
            //   closeOnClickOutside: false,
            //   dangerMode: true,
            // }).then((continue_checkout) => {
            //   if (continue_checkout) {
            //     checkout()
            //   }
            // })

            document.getElementById('pick_latitude').value = '';
            document.getElementById('pick_longitude').value = '';
            document.getElementById('lat').value = '';
            document.getElementById('lng').value = '';
            // window.alert("Autocomplete's returned place contains no geometry");
            return;
        }
  
        // If the place has a geometry, then present it on a map.
        if (place.geometry.viewport) {
            map.fitBounds(place.geometry.viewport);
            place1 = place
        } else {
            map.setCenter(place.geometry.location);
            map.setZoom(17);
        }
        marker.setPosition(place.geometry.location);
        marker.setVisible(true); 
        // console.log(place)
        bindDataToForm(place.name+", "+place.formatted_address,place.geometry.location.lat(),place.geometry.location.lng());
        infowindow.setContent(place.name+", "+place.formatted_address);
        infowindow.open(map, marker);
       
    });
    // this function will work on marker move event into map 
    google.maps.event.addListener(marker, 'dragend', function() {
        geocoder.geocode({'latLng': marker.getPosition()}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          if (results[0]) {   
            // console.log(results[0])     
              bindDataToForm(results[0].formatted_address,marker.getPosition().lat(),marker.getPosition().lng());
              infowindow.setContent(results[0].formatted_address);
              infowindow.open(map, marker);
          }
        }
        });
    });
}

function bindDataToForm(address,lat,lng){

   document.getElementById('location').value = address;
   document.getElementById('address').value = address;
   document.getElementById('pick_latitude').value = lat;
   document.getElementById('pick_longitude').value = lng;
   document.getElementById('lat').value = lat;
   document.getElementById('lng').value = lng;
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>



<script type="text/javascript">
$(document).ready(function(){
let appliedCoupon = sessionStorage.getItem("appliedCoupon");
if(appliedCoupon != null && appliedCoupon != ""){
$('#txt-coupon-code').val(appliedCoupon)
apply_coupon();
}
})
  function step_1(){
    $('#step1').show();
    $('#step2').hide();
  }
  function step_2(){
    $('#step1').hide();
    $('#step2').show();
  }
</script>
{% endblock %}
