{% extends "eha_app/pages/base.html" %}
{% load static %}

{% block title %} EHA - SHOP {% endblock %}

{% block content %}


<section class="team section-bg m-t-100" id="step3">
  <div class="container">
    <div class="section-title">
      <h2>Review your order</h2>
    </div>

    {% if cart_list %}
    <div class="row" style="min-height: 400px;">
      

        <!-- SHOW CART ITEMS -->
        <div class="col-lg-8 col-md-8">
          <div class="modal-content1">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Address</h5>
            </div>
            <div class="modal-body">
              <p>{{address}}</p>
            </div>
          </div>

          <table class="col-lg-12 col-md-12 table" id="table_cart">
            <tbody>
              <tr>
                <td colspan="3"><h5 style="margin-bottom: 0px; padding: 10px;"> Shopping Cart</h5></td>
              </tr>
              {% for item in cart_list %}
              <tr id="row_{{item.id}}">
                <td style="width: 100px;">
                  <img src="{{item.image.url}}" width="100px">
                </td>
                <td>{{item.title|safe}}</td>
                <td>$ {{item.price}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>


        <div class="col-lg-4 col-md-4 align-items-stretch">
          <!-- toal and checkout panel  -->
          <div class="card">
            <div class="card-body">
              <p>Cart Total:
                <span class="pull-right" id="cart_total">$ {{total}}</span>
              </p>
              <p id="discount_p" style="display: none;">Coupon savings:
                <span class="pull-right" id="discount">- $ 0</span>
              </p>
              <h5>Total
                <span class="total-amount" id="total">$ {{total}}</span>
                <input type="hidden" id="final_amount" value="{{total}}">
              </h5>
            </div>


            <div class="modal-body">
              <p style="color:#666666;font-size:0.95em !important;">Use Stripe to pay with all major credit cards.<br />Use Stripe to pay with Google Pay. </p>
              <div id="paypal-button-container"></div>
              <form action="{% url 'checkout' %}" id="formCheckout" method="POST">
                {% csrf_token %}
              <div id="stripe-button-container" onclick="go_to_stripe_payment()"></div>
              </form>
            </div>
          </div>
          <div class="text-right p-2">
            <a href="/cart"><i class="icofont-rounded-double-left"></i> Back</a>
          </div>
          <!-- END -->
        </div>
      </div>
      <div>
      </div>
    {% endif %}
</div>
</section>



<!-- SCRIPT for PAYPAL -->
<script src="https://www.paypal.com/sdk/js?client-id=AYWxqegrEf8NSPD_B257m2FVLH5N6fqfWyBnVQbH5E7z1GRj8F2czwK8LkM_KEmp7tX3-qJeOZR20n8Y&disable-funding=credit,card"></script>
<script type="text/javascript" src="{% static 'assets/js/index.js' %}"></script>


<!-- To APPLY COUPON -->
<script type="text/javascript">
$(document).ready(function(){
  $('#applied').hide()
  coupon_code = '{{coupon}}'
  if(coupon_code == ''){
  }
  else{
    // CALL API TO APPLY COUPON
    $.ajax({
        method : "POST",
        url : "/api/validate_coupon",
        contentType: "application/json",

        data : JSON.stringify({
          coupon_code : coupon_code,
        }),
        success : function(response){
          console.log(response)

          // If coupon applied successfully
          if (response['status'] == "1"){
            response['final_amount']=parseFloat(response['final_amount']).toFixed(2)
            // Total
            $('#cart_total').text('$ '+response['total'])
            // Discount
            $('#discount').text('- $ '+response['discount'])
            $('#discount_p').show()
            // Final amount
            $('#total').text('$ '+response['final_amount'])
            $('#final_amount').val(response['final_amount'])
            // Hidden Input
            $('#coupon').val(response['coupon_code'])
          }
          // if coupon is expired/invalid
          else{
          }
        }
    });
  }
});
</script>

<!-- go_to_stripe_payment -->
<script type="text/javascript">
  function go_to_stripe_payment(){
    document.getElementById("formCheckout").submit();
  }
</script>

{% endblock %}
