{% extends "eha_app/pages/base.html" %}
{% load static %}

{% block title %} EHA - ENVIRONMENTAL HEALTH ANALYTICS {% endblock %}


{% block content %}


<!-- ======= SIGNIN Section ======= -->
<section class="contact m-t-100">
  <div class="container">

    <div class="section-title">
      <h2>RESET PASSWORD</h2>
    </div>

    <input type="hidden" id="email_id">

    <div class="row justify-content-md-center">
      <div class="col-lg-6 mt-5 mt-lg-0 d-flex align-items-stretch">
        <!-- FORM to SEND VERIFICATION CODE -->
        <form role="form" class="php-email-form" id="form-send-code">
          <div class="form-row">
            <p><b>Enter your email address and we'll send you a code to reset your password.</b></p>
            <div class="form-group col-md-12">
              <label for="email">Email</label>
              <input type="text" name="email" class="form-control" id="email" />
              <small class="err-msg" id="email_err">Please enter email</small>  
              <small class="err-msg" id="email_invalid_err">Invalid email</small>   
            </div>
          </div>

          <div class="mb-3">
            <div class="loading">Loading</div>
            <div class="error-message">Error message</div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
          </div>
          <div class="text-center"><button type="button" onclick="send_code()">Send code</button></div>
        
		  <div class="text-center">
            <hr>
            <p>Already have account? <a href="{% url 'signin' %}">Signin</a> | New user <a href="{% url 'signup' %}">Signup</a></p>
          </div>
		</form>
        
        <!-- FORM TO VERIFY CODE -->
        <form role="form" class="php-email-form" id="form-verify-code" style="display: none;">
          <div class="form-row">
            <p><b>The verification code has been dispatched to your email <i><span id="email_id_show"></span></i>. </b></p>
            <div class="form-group col-md-12">
              <label for="code">Verification code</label>
              <input type="text" class="form-control" id="code" />
              <small class="err-msg" id="code_err">Please enter verification code.</small>   
            </div>
          </div>

          <div class="mb-3">
            <div class="loading">Loading</div>
            <div class="error-message">Error message</div>
            <div class="sent-message">Success message</div>
          </div>
          <div class="text-center"><button type="button" onclick="verify_code()">Verify code</button></div>
        </form>

        
        <!-- FORM TO CHNAGE PASSWORD -->
        <form role="form" class="php-email-form" id="form-reset-pwd" style="display: none;">

          <div class="form-group">
            <label for="password">New Password</label>
            <input type="password" class="form-control" name="password" id="password" />
            <small class="err-msg" id="password_err">Please enter password</small>
          </div>

          <div class="form-group">
            <label for="password1">Confirm Password</label>
            <input type="password" class="form-control" name="password1" id="password1" />
            <small class="err-msg" id="re_password_err">Please re-enter password</small>
            <small class="err-msg" id="re_password_valid_err">Password should match</small>
          </div>

          <div class="text-center"><button type="button" onclick="reset_password()">Reset password</button></div>
        </form>

      </div>
    </div>
  </div>
</section>
<!-- End SIGNIN Section -->

<!-- When page load first time -->
<script type="text/javascript">
  $(document).ready(function() {
    // SHOW 
        $('#form-send-code').show();
        $('#form-verify-code').hide();
        $('#form-reset-pwd').hide();
  });
</script>


<script type="text/javascript">
function send_code(){
    var emailfilter = /^\b[A-Z0-9._%-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i

    email = $("#email").val();

    if (email== ""){
      $('#email_err').show();
    }
    else if(! emailfilter.test(email)){ 
      $("#email_invalid_err").show(); 
    } 
    else{
      $(".loading").show()
      $.ajax({
        method : "POST",
        url : "/api/forgot_password",
        contentType: "application/json",
        data : JSON.stringify({
          email : email,
        }),
        success : function(response){
          console.log(response)
          if (response['status'] == "1"){
              $(".loading").hide()
              // If code sent successfully then show form for code verification
              $('#form-send-code').hide();
              $('#form-verify-code').show();
              $('#form-reset-pwd').hide();

              // set email ID
              $("#email_id").val(email)
              $('#email_id_show').html(email);

          }    
          else if(response['status'] == "0"){ 
              swal({
                title:response["msg"],
                icon:"warning",
                button:"Ok",
                closeOnClickOutside: false,
              }).then(function(){
                // location.reload();
              })
              $(".loading").hide()
          }  
        }
      });
    }
}

$('#email').keyup(function(){
    $('#email_err').hide();
    $('#email_invalid_err').hide();
});
$('#password').keyup(function(){
    $('#password_err').hide();
});

</script>


<!-- FUNCTION to VERIFY CODE SENT -->
<script type="text/javascript">
function verify_code(){

    email = $("#email_id").val();
    code = $("#code").val();

    if (code == ""){
      $('#code_err').show();
    }
    else{
      $(".loading").show()
      $.ajax({
        method : "POST",
        url : "/api/verify_code",
        contentType: "application/json",
        data : JSON.stringify({
          email : email,
          code : code,
        }),
        success : function(response){
          console.log(response)
          if (response['status'] == "1"){
              $(".loading").hide()

              // If code verified successfully then show form for reset password
              $('#form-send-code').hide();
              $('#form-verify-code').hide();
              $('#form-reset-pwd').show();

              // set email ID
              $("#email_id").val(email)
              $('#email_id_show').html(email);

          }    
          else if(response['status'] == "0"){ 
              swal({
                title:response["msg"],
                icon:"warning",
                button:"Ok",
                closeOnClickOutside: false,
              }).then(function(){
                // location.reload();
              })
              $(".loading").hide()
          }  
        }
      });
    }
}
$('#code').keyup(function(){
    $('#code_err').hide();
});
</script>


<!-- SET NEW PASSWORD -->
<script type="text/javascript">
function reset_password(){
    email = $("#email_id").val();
    password = $("#password").val();
    password1 = $("#password1").val();

    if (password== ""){
      $('#password_err').show();
    }
    else if (password1== ""){
      $('#re_password_err').show();
    }
    else if (password1 != password){
      $('#re_password_valid_err').show();
    }
    else{
      $(".loading").show()
      $.ajax({
        method : "POST",
        url : "/api/reset_password",
        contentType: "application/json",
        data : JSON.stringify({
          email : email,
          password : password,
        }),
        success : function(response){
          console.log(response)
          if (response['status'] == "1"){
              swal({
                title:"Password reset successfully",
                icon:"success",
                button:"Ok",
                closeOnClickOutside: false,
              }).then(function(){
                location.href = "/";
              })

          }    
          else if(response['status'] == "0"){ 
              swal({
                title:response["msg"],
                icon:"warning",
                button:"Ok",
                closeOnClickOutside: false,
              }).then(function(){
                // location.reload();
              })
              $(".loading").hide()
          }  
        }
      });
    }
}

$('#password').keyup(function(){
    $('#password_err').hide();
});
$('#password1').keyup(function(){
    $('#re_password_err').hide();
    $('#re_password_valid_err').hide();
});

</script>
{% endblock %}