{% extends "eha_app/pages/base.html" %}
{% load static %}

{% block title %} EHA - ENVIRONMENTAL HEALTH ANALYTICS {% endblock %}


{% block content %}
  <!-- ======= Hero Section ======= -->
    <section id="hero">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

        <!-- <ol class="carousel-indicators" id="hero-carousel-indicators"></ol> -->

        <div class="carousel-inner" role="listbox">

          <!-- Slide 1 -->
          <div class="carousel-item active" style="background-image: url({% static 'assets/img/slide/slide-1.jpg' %})">
            <div class="carousel-container">
              <div class="container">
                <div class="row  justify-content-md-center">
                  <div class="col-lg-6 home-banner text-center p-5">
                    <h2 class="">Welcome to <span>EHA</span></h2>
                    <h4 class="">Environmental Health Analytics, LLC</h4>
                <p class="mb-0"><i>Better decision based on better science...</i></p>

                   <!--  <h5 class="animate__animated animate__fadeInDown">WHAT WE PROVIDE:</h5>
                    
                <p class="animate__animated animate__fadeInUp mb-2">Local information on <i>your</i> environmental health</p> -->
                  </div>
                </div>

                

                <!-- <p class="animate__animated animate__fadeInUp"><i>Environmental Health Analytics, LLC<br> Better decision based on better science.</i></p> -->
                <!-- <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a> -->
              </div>
            </div>
          </div>

          <!-- Slide 2 -->
         <!--  <div class="carousel-item" style="background-image: url({% static 'assets/img/slide/slide-2.jpg' %})">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">Welcome to <span>EHA</span></h2>
                <p class="animate__animated animate__fadeInUp">Environmental Health Analytics, LLC is committed to providing the highest-quality products supported by cutting-edge analytical science.</p>
                <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
              </div>
            </div>
          </div> -->

          <!-- Slide 3 -->
          <!-- <div class="carousel-item" style="background-image: url({% static 'assets/img/slide/slide-3.jpg' %})">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">Welcome to <span>EHA</span></h2>
                <p class="animate__animated animate__fadeInUp">Environmental Health Analytics, LLC is committed to providing the highest-quality products supported by cutting-edge analytical science.</p>
                <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
              </div>
            </div>
          </div> -->

        </div>

        <!-- <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a> -->

      </div>
    </section>
    <!-- End Hero -->
    <!-- <h5 style="background-color:  #5cb874; color: #fff; margin: 0px; padding: 4px 0px;">
      <marquee><span>Local information on your environmental health</span></marquee>
    </h5> -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about team">
      <div class="container">

        <div class="section-title">
          <h2>About Us</h2>
          <p>Environmental Health Analytics, LLC is committed to providing the highest-quality products supported by cutting-edge analytical science.</p>
        </div>
      </div>
    </section>
    <!-- End ABOUT -->


  

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row no-gutters">

          <div class="col-lg-4 col-md-6 content-item">
            <span>01</span>
            <h4>In the real estate market?  Check before you buy.  </h4>
            <p>Accessing information on local environmental quality can inform your choice of where to live.  Air quality is one of the most important aspects of overall environmental quality, though is often overlooked because, until now, detailed local information on air pollution levels was not available.  With our "Air Quality At Your Address - Historical PM2.5 Report", you can enter any address in the U.S. (not available for Alaska and Hawaii) and find out about historical air quality trends specifically at that location with local detail and accuracy.</p>
          </div>

          <div class="col-lg-4 col-md-6 content-item">
            <span>02</span>
            <h4>Are you far enough from a major road?</h4>
            <p>Health studies have consistently identified living near a major road as a risk factor for environmentally-related diseases.  Air pollution is considered by environmental health scientists to be an important contributor to elevated rates of many inflammatory-mediated diseases, such as heart disease, as well as  respiratory conditions such as asthma and COPD, lung cancer, and many others.  Using the information contained in our "Air Quality At Your Address - Historical Ultra-local PM2.5 Report", you can make an informed decision about the quality of the environment in your area.  </p>
          </div>

          <div class="col-lg-4 col-md-6 content-item">
            <span>03</span>
            <h4> Comparison to Health-based Air Quality Std</h4>
            <p>Our products provide the context often needed to understand whether nearby industrial sources, large busy roadways, or unfavorable meteorological conditions are leading to poor air quality and an unhealthy environment at whatever location you provide.  We provide straightforward comparisons to health-based US EPA air quality standards to make identifying locations with historically unhealthy air easy, and also to provide context for understanding the significance of air pollution at that location on your heath.  Ultra-local and specific to your neighborhood, our reports provide the most accurate information based on state-of-the-science statistical models and data-processing algorithms.     </p>
          </div>

        </div>

      </div>
    </section>
    <!-- End Why Us Section -->


    <!-- ======= Services Section ======= -->
    <section id="" class="team section-bg">
      <div class="container">

        <div class="section-title">
          <h2>WHAT WE PROVIDE</h2>
          <h4 class="mb-4" style="color: #2db231;">Local information on <i>your</i> environmental health</h4>
          <p>We provide air quality reports at any address (or addresses) you provide within the continental 48-states. These reports describe historical air quality levels at your address and the surrounding area with specific detail about nearby sources of air pollution, such as major roads and industrial sources.  With the results in the report, you will be able to compare the air quality at your address to health-based air quality standards and to levels in the surrounding area.  </p>
        </div>

      </div>
    </section><!-- End Services Section -->  

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Our Digital Services</h2>
          <p>Over the past several decades, exposure scientists have developed detailed data-analysis techniques describing exposure to environmental hazards, including to air pollution, and used these models in health studies.  Until now, the results of these modeling processes have not been available to the public.  Never before have members of the public had access to detailed, ultra-local information about air quality and levels of PM2.5 and other air pollutants in their neighborhood, in their community, and in their lives.   </p>
        </div>

      </div>
    </section><!-- End Services Section -->


    <!-- ======= DISCLAMER Section ======= -->
    <section id="disclamer" class="cta">
      <div class="container">

        <div class="row">
          <div class="col-lg-12 text-center text-lg-left">
            <h3>Disclaimer</h3>
            <p> We strive to provide the highest-quality products.  However, consumers should be aware that the products we provide are the result of data-modeling techniques, sometimes applied to the future, which, like weather forecasts, contain some inherent uncertainty.</p>
          </div>
        </div>

      </div>
    </section>
    <!-- End DISCLAIMER Section -->

   

   

{% endblock %}