{% extends "eha_app/pages/base.html" %}
{% load static %}

{% block title %} EHA - ENVIRONMENTAL HEALTH ANALYTICS {% endblock %}

{% block content %}

<!-- <span id="buy">
   <a href="{% url 'shop' %}">Buy Report Now</a>
</span> -->

<div id="sidebar" style="display:none;">
  <div class="social buy-item">
    <a href="{% url 'shop' %}">
      <p class="mb-0">Buy Report Now <i class="icofont-file-document"></i>  </p>
    </a>
  </div>
</div>

<!-- ======= Hero Section ======= -->
<section id="hero">
  <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

    <!-- <ol class="carousel-indicators" id="hero-carousel-indicators"></ol> -->

    <div class="carousel-inner" role="listbox">

      <!-- Slide 1 -->
      <div class="carousel-item active" style="background-image: url({% static 'assets/img/slide/slide-1.jpg' %})">
        <div class="carousel-container">
          <div class="container">
            <div class="row  justify-content-md-center">
              <div class="col-lg-6 home-banner text-center">
                <h2 class="">Welcome to <span>EHA</span></h2>
                <h4 class="">Environmental Health Analytics, LLC</h4>
                <p style="font-size: 1.1em !important" class="mb-0"><i>Better decisions based on better science...</i></p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>



<!-- ======= Services Section ======= -->
<section id="what_we_provide" class="team  section-bg">
  <div class="container">
    <div class="section-title">
      <h2>WHAT WE PROVIDE</h2>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="member">
          <h4>In the real estate market?  Check air quality before you buy.</h4>
          <p style="font-size:1.1em !important">
            Accessing information on local environmental quality can inform your choice of where to live.  Air quality is one of the most important aspects of overall environmental quality, though is often overlooked because, until now, detailed local information on air pollution levels was not available.  With our "Ultra-local Air Quality Report", you can enter any address in the U.S. (not available for Alaska and Hawaii) and find out about historical air quality trends specifically at that location with local detail and accuracy.
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="member">
          <h4>Are you living far enough from a major road?  Or downwind of a polluted urban area?</h4>
          <p  style="font-size:1.1em !important">
Health studies have consistently identified living near a major road as a risk factor for environmentally-related diseases. Also, many urban areas in the US suffer from elevated air pollution levels.  Air pollution is considered by environmental health scientists to be an important contributor to elevated rates of many inflammatory-mediated diseases, such as heart disease, as well as respiratory conditions such as asthma and COPD, lung cancer, and many others. Using the information contained in our "Ultra-local Air Quality Report", you can make an informed decision about the quality of the environment in your area.
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="member" style="padding: 30px 15px;">
          <!-- <h4>Compare air quality at your address to health-based air quality standards.</h4> -->
          <h4>Compare air quality at your address to health-based air quality standards or buy two reports and compare air quality at one address to another.</h4>
          <p  style="font-size:1.1em !important">
            Our products provide the context often needed to understand whether nearby industrial sources, large busy roadways, or unfavorable meteorological conditions are leading to poor air quality and an unhealthy environment at whatever location you provide.  We provide straightforward comparisons to health-based US EPA air quality standards to make identifying locations with historically unhealthy air easy, and also to provide context for understanding the significance of air pollution at that location on your heath.  Ultra-local and specific to your address, our reports provide the most accurate information based on state-of-the-science statistical models and data-processing algorithms.
          </p>
        </div>
      </div>

    </div>

  </div>

<div class="container mt-5">
  <div class="section-title">
    <h4 class="mb-4 text-green">Local information on <i>your</i> environmental health</h4>
    <p class="text-justify">
      We provide air quality reports at any address (or addresses) you provide within the continental 48-states. These reports describe historical air quality levels at your address and the surrounding area with specific detail about nearby sources of air pollution, such as major roads and industrial sources.  With the results in the report, you will be able to compare the air quality at your address to health-based air quality standards and to levels in the surrounding area.  
    </p>
    <br>
    <br>
    <h4 class="mb-4 text-green">Our Digital Services</h4>
    <p class="text-justify">
      Over the past several decades, exposure scientists have developed detailed data-analysis techniques describing exposure to environmental hazards, including to air pollution, and used these models in health studies.  Until now, the results of these modeling processes have not been available to the public.  Never before have members of the public had access to detailed, ultra-local information about air quality and levels of PM<sub>2.5</sub> and other air pollutants in their neighborhood, in their community, and in their lives.   
    </p>
  </div>

</div>
</section><!-- End Services Section -->


<!-- ======= About Us Section ======= -->
<section id="about" class="about team">
  <div class="container">

    <div class="section-title">
      <h2>About Us</h2>
      <p>
        We are an American-owned and operated digital services company specializing in environmental prediction modeling.  Our digital services are proudly produced in the USA by American exposure scientists. 
        Environmental Health Analytics, LLC is committed to providing the highest-quality products supported by cutting-edge analytical science.
      </p>
    </div>
  </div>
</section>
<!-- End ABOUT -->



<!-- ======= DISCLAMER Section ======= -->
<section id="disclamer" class="cta">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center text-lg-left">
        <h3>Disclaimer</h3>
        <p> We strive to provide the highest-quality products.  However, consumers should be aware that the products we provide are the result of data-modeling techniques, sometimes applied to the future, which, like weather forecasts, contain some inherent uncertainty.</p>
      </div>
    </div>

  </div>
</section>
<!-- End DISCLAIMER Section -->

   
{% endblock %}
