{% extends "eha_app/pages/base.html" %}
{% load static %}

{% block title %} EHA - ENVIRONMENTAL HEALTH ANALYTICS {% endblock %}


{% block content %}


<!-- ======= SIGNIN Section ======= -->

<input type="hidden" id="next" name="next" value="{{ next }}" />

<section class="contact m-t-100">
  <div class="container">

    <div class="section-title">
      <h2>Sign in</h2>
    </div>

    <div class="row justify-content-md-center">
      <div class="col-lg-4 mt-5 mt-lg-0 d-flex align-items-stretch">

        <form role="form" class="php-email-form">
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="email">Email</label>
              <input type="text" name="email" class="form-control" id="email" value="{{email}}" />
              <small class="err-msg" id="email_err">Please enter email</small>  
              <small class="err-msg" id="email_invalid_err">Invalid email</small>   
            </div>

            <div class="form-group col-md-12">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" id="password"/>
              <small class="err-msg" id="password_err">Please enter password</small>
            </div>

            <div class="col-md-12">
              <a href="{% url 'forgot_password' %}">Forgot password</a>
            </div>
            <div style="padding-top: 10px;" class="col-md-12">
              <input style="height: 12px;" type="checkbox" checked="{{checked}}" name="remember">  Remember email</div>
          </div>

          <div class="text-center"><button type="button" onclick="signin()">Sign In</button></div>

          <div class="text-center">
            <hr>
            <p>Don't have an account? <a href="{% url 'signup' %}">Sign up</a></p>
          </div>
        </form>

      </div>
    </div>
  </div>
</section>
<!-- End SIGNIN Section -->

<script type="text/javascript">

function getCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1,c.length);
        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
}

function signin(){
    var emailfilter = /^\b[A-Z0-9._%-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i
    console.log("cokki",getCookie('email'))
    email = $("#email").val();
    password = $("#password").val();
    remember_checkbox_value = document.getElementsByName('remember')[0].checked;
    console.log("remember m",remember_checkbox_value)
    if (email== ""){
      $('#email_err').show();
    }
    else if(! emailfilter.test(email)){ 
      $("#email_invalid_err").show(); 
    } 
    else if (password== ""){
      $('#password_err').show();
    }
    else{
      
      $.ajax({
        method : "POST",
        url : "/api/signin",
        contentType: "application/json",
        data : JSON.stringify({
          email : email,
          password : password,
          is_remember:remember_checkbox_value
        }),
        success : function(response){
          console.log(response)
          
          if (response['status'] == "1"){
              swal({
                title:"You have signed in successfully",
                icon:"success",
                button:"Ok",
                closeOnClickOutside: false,
              }).then(function(){
                var next=$('#next').val();
                location.href = next
              })
              if(remember_checkbox_value)
              document.cookie = `email=${email}`
          }    
          else if(response['status'] == "0"){ 
              swal({
                title:response["msg"],
                icon:"warning",
                button:"Ok",
                closeOnClickOutside: false,
              }).then(function(){
                // location.reload();
              })
          }  
        }
      });
    }
}

$('#email').keyup(function(){
    $('#email_err').hide();
    $('#email_invalid_err').hide();
});
$('#password').keyup(function(){
    $('#password_err').hide();
});

</script>
{% endblock %}
