 {% load static %}
  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-none d-lg-flex align-items-center fixed-top">
    <div class="container d-flex">
      <div class="contact-info mr-auto">
        <i class="icofont-envelope"></i> 
        <a href="mailto:envhlthanalytics@gmail.com">envhlthanalytics@gmail.com</a>
        <!-- <i class="icofont-phone"></i> +1 5589 55488 55 -->
        
      </div>
      <!-- <div class="contact-info mr-auto">
        <span class="buy-shop"><i class="icofont-file-document"></i> <a href="{% url 'shop' %}"> Buy Report Now</a></span>
      </div> -->
      <div class="social-links  ml-auto">
        <a href="https://twitter.com" target="_blank" class="twitter"><i class="icofont-twitter"></i></a>
        <a href="https://www.facebook.com/" target="_blank" class="facebook"><i class="icofont-facebook"></i></a>
        <a href="https://www.instagram.com/" target="_blank" class="instagram"><i class="icofont-instagram"></i></a>
        <!-- <a href="#" class="skype"><i class="icofont-skype"></i></a> -->
        <a href="https://www.linkedin.com/" target="_blank" class="linkedin"><i class="icofont-linkedin"></i></i></a>
      </div>
    </div>
  </div>