{% extends "admin_panel/pages/base.html" %}
{% load static %}

{% block title %} EHA - SHOP ITEMS {% endblock %}

{% block style %}
<style type="text/css">
  
</style>
{% endblock %}

{% block content %} 

<div class="card card-primary">

  <div class="card-header">
    <h4>CHANGE PASSWORD</h4>
  </div>
  <!-- <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab"> -->
			<div class="card-body">
            <div class="row justify-content-md-center">
              <div class="col-lg-4 mt-5">
                <form action="" role="form" class="php-email-form">

                  <div class="form-group">
                    <label for="old_pwd">Old Password</label>
                    <input type="password" class="form-control" id="old_pwd" />
                    <small class="err-msg" id="old_pwd_err">Please enter old password.</small>
                  </div>

                  <div class="form-group">
                    <label for="new_pwd">New Password</label>
                    <input type="password" class="form-control" id="new_pwd" />
                    <small class="err-msg" id="new_pwd_err">Please enter new password</small>
                  </div>

                  <div class="form-group">
                    <label for="re_new_pwd">Confirm Password</label>
                    <input type="password" class="form-control" id="re_new_pwd" />
                    <small class="err-msg" id="re_new_pwd_err">Please re-enter password</small>
                    <small class="err-msg" id="re_new_pwd_valid_err">Password should match</small>
                  </div>

                  <div class="text-center">
                    <button type="button" class="btn btn-success" onclick="change_password()">Update</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
</div> 

<!-- SCRIPT to CHANGE PASSWORD -->
<script type="text/javascript">
function change_password() {
	var admin_id = $('#admin_id').val();
    var old_pwd = $("#old_pwd").val();
    var new_pwd = $("#new_pwd").val();
    var re_new_pwd = $("#re_new_pwd").val(); 

    if (old_pwd == ""){
      $('#old_pwd_err').show();
    }
    else if (new_pwd== ""){
      $('#new_pwd_err').show();
    }
    else if (re_new_pwd== ""){
      $('#re_new_pwd_err').show();
    }
    else if (re_new_pwd != new_pwd){
      $('#re_new_pwd_valid_err').show();
    }
    else{
      $.ajax({
        method : "POST",
        url : "admin_panel/change_password",
        data:{
                "admin_id":admin_id,
                "old_password":old_pwd,
                "new_password":new_pwd,
            },

        success : function(response){
          // console.log(response)
          
          if (response == "success"){
            swal({
              title:"Password updated successfully",
              icon:"success",
              button:"Ok",
              closeOnClickOutside: false,
            }).then(function(){
              location.href = '/admin_panel/dashboard';
            })
          }    
          else{ 
              swal({
                title:"Incorrect Password",
                icon:"warning",
                button:"Ok",
                closeOnClickOutside: false,
              }).then(function(){
                // location.reload();
              })
          }  
        }
      });
    }
}

$('#old_pwd').keyup(function(){
    $('#old_pwd_err').hide();
});
$('#new_pwd').keyup(function(){
    $('#new_pwd_err').hide();
});
$('#re_new_pwd').keyup(function(){
    $('#re_new_pwd_err').hide();
    $('#re_new_pwd_valid_err').hide();
});
</script>

	  <!-- End Content Block -->


{% endblock %}		